//left icon bar styles
$left-icon-bar-background: #333333;
$left-icon-bar-icon: #adadad;
$left-icon-bar-icon-hover: white;
$left-icon-bar-icon-active: white;

//left explorer
$left-explorer-background: #252526;
$left-explorer-header: #383838;
$left-explorer-item-active: #3f3f46;
$left-explorer-item-hover: #2a2d2e;
$left-explorer-font: #c5c5c5;
$left-explorer-font-secondary: #999999;

//main content
$main-content-tab-active: #1e1e1e;
$main-content-tab-active-font: white;
$main-content-tab: #2d2d2d;
$main-content-tab-font: #c5c5c5;
$main-content-tab-background: #252526;
$main-content-background: #1e1e1e;
$main-content-scroll: #383838;
